.TodoForm {
    margin-bottom: 1rem;
}

.TodoForm input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
    background-color: #242b3c;
    color: #5e6e98;
}

.TodoForm input[type="text"]::placeholder {
    color: #5e6e98;
}
