.AppFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: .9rem;
    background-color: #242b3c;
    color: #5e6e98;
    border-radius: 0 0 5px 5px;
}

.TodoSortPanel button {
    margin: 0 0.2rem;
    padding: 0;
    color: #5e6e98;
    font-size: .9rem;
}

.TodoSortPanel button.active {
    color: #416ad6;
}
